@model IEnumerable<Locatic.Models.Reservation>

<h1>Réservations</h1>

<a href="/Reservations/Create">Nouvelle réservation</a>

<table border="1">

<tr>
    <th>Client</th>
    <th>Voiture</th>
    <th>Date début</th>
    <th>Date fin</th>
    <th>Prix</th>
</tr>

@foreach (var r in Model)
{
    <tr>
        <td>@r.Client?.Nom</td>
        <td>@r.Voiture?.Immatriculation</td>
        <td>@r.DateDebut.ToShortDateString()</td>
        <td>@r.DateFin.ToShortDateString()</td>
        <td>@r.PrixTotal</td>
    </tr>
}

</table>