@model IEnumerable<Locatic.Models.Voiture>

<h1>Voitures</h1>

<a href="/Voitures/Create">Ajouter voiture</a>

<table border="1">
    <tr>
        <th>Immatriculation</th>
        <th>Marque</th>
        <th>Modèle</th>
        <th>Année</th>
        <th>Tarif</th>
        <th>Actions</th>
    </tr>

@foreach (var v in Model)
{
    <tr>
        <td>@v.Immatriculation</td>
        <td>@v.Modele?.Marque?.Nom</td>
        <td>@v.Modele?.Nom</td>
        <td>@v.Annee</td>
        <td>@v.TarifJournalier</td>
        <td>
            <a href="/Voitures/Details/@v.Id">Details</a> |
            <a href="/Voitures/Edit/@v.Id">Edit</a> |
            <a href="/Voitures/Delete/@v.Id">Delete</a>
        </td>
    </tr>
}
</table>